body {
  background-color: #111E27;
  width: 100%;
  height: 100%; }

.button {
  background-color: #DCF1FF;
  border: 2px solid #192537;
  border-radius: 15px;
  color: #192537; }

.button:hover {
  background-color: #192537;
  border-color: #DCF1FF;
  color: #DCF1FF; }

.buttonBis {
  background-color: #192537;
  border: 2px solid #DCF1FF;
  border-radius: 30px;
  color: #DCF1FF; }

.buttonBis:hover {
  background-color: #DCF1FF;
  border: 2px solid #192537;
  color: #192537; }

header div ul li a {
  color: #ADDEFF;
  text-decoration: none;
  font-size: larger; }

header div ul li a:focus, header div ul li a:hover, header div ul li a:active {
  color: #FFFFFF;
  text-decoration: underline #FFFFFF;
  font-weight: 600;
  font-size: 30px; }

header div a img {
  border-radius: 50%;
  background-position-y: -150px; }

header div div .booking {
  width: 130;
  height: 50px; }

header div div .connexion {
  width: 110px;
  height: 40px; }

footer {
  bottom: 0%; }

.button {
  background-color: #DCF1FF;
  border: 2px solid #192537;
  border-radius: 15px;
  color: #192537; }

.button:hover {
  background-color: #192537;
  border-color: #DCF1FF;
  color: #DCF1FF; }

.buttonBis {
  background-color: #192537;
  border: 2px solid #DCF1FF;
  border-radius: 30px;
  color: #DCF1FF; }

.buttonBis:hover {
  background-color: #DCF1FF;
  border: 2px solid #192537;
  color: #192537; }

.accueil {
  background-image: url("../img/fondsiteAccueil.jpg");
  background-repeat: no-repeat; }
  .accueil main {
    margin-left: 32%;
    height: 490px; }
    .accueil main h1 {
      text-align: center;
      font-weight: 700;
      color: #DCF1FF;
      text-shadow: 0 3px 15px #DCF1FF;
      -webkit-text-stroke: 3px #192537;
      padding: 3%; }
    .accueil main div.row {
      margin: 3%; }
      .accueil main div.row div {
        width: 200px; }
        .accueil main div.row div img {
          width: 200px;
          display: block;
          margin: auto; }
    .accueil main div button {
      width: 300px;
      height: 40px; }

.laCarte {
  background-image: url("../img/laCarte.jpg");
  background-repeat: no-repeat; }
